nav {
    background-color: var(--main-navbar-color);
    width: 100%;
    height: 60px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    list-style: none;
}

nav li {
    margin-left: 10px;
    margin-right: 10px;
}

nav img{
    height: 30px;
}

.breadcrumbs {
    background-color: var(--second-navbar-color);
    height: 45px;
    width: 100%;
    color: white;
}