.container-card-deal{
    display: flex;
    justify-content: center;
    background-color: rgb(230, 225, 225);
    font-family: Averta CY, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif !important;
    height: 100%;
    padding: 10px;
}

.card-deal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "dealCardPart1 dealCardPart2";
    background-color: rgb(255, 255, 255);
    width: 1040px;
    max-height: 500px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.deal-card-part1{
    grid-area: dealCardPart1;
}

.deal-card-part1 img{
   width: 500px;
}

.deal-card-part2{
    grid-area: dealCardPart2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.deal-card-header{
    display: flex;
    justify-content: space-between;
}

.deal-degres{
    display: flex;
    border: 1px solid #8f949b;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 25px;
    height: 30px;
    width: 100px;
    align-items: center;
    justify-content:space-between;
    padding: 5px;
}

.blue-span{
    color:blue;
}

.red-span{
    color: red;
}

.deal-share-comment{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deal-date{
    color:#8f949b;
    font-size: .875rem;
    line-height: 1.25rem;
    --line-height: 1.25rem
}

.deal-title{
    color: #35373b;
    font-size: 1.1rem;
    line-height: 2rem;
}

.deal-owner{
    line-height: 1.6;  
}

.deal-owner a{
    color:#8f949b!important;
    text-decoration: none;
    font-size: 1.1em;
}

.deal-owner span{
    color:#03a5c1;
}

.button-watch-the-deal{
    background-color: #03a5c1!important;
    border-radius: 40px!important;
    height: 65px;
    width: 250px;
}

.button-watch-the-deal span{
    font-family: Averta CY, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif !important;
    font-size: 1.125rem;
    line-height: 1.625rem;
    --line-height: 1.625rem;
    font-weight: bold;
    margin-right: 5px;
}