.container-card-deal{
    background-color: rgb(230, 225, 225);
    height: 100%;
    padding: 10px;
}

.card-deal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "dealCardPart1 dealCardPart2";
    background-color: rgb(255, 255, 255);
    margin-left:16%;
    margin-right: 16%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.deal-card-part1{
    grid-area: dealCardPart1;
}

.deal-card-part1 img{
   width: 100%;
}

.deal-card-part2{
    grid-area: dealCardPart2;
}