.container-card-deal{
    background-color: rgb(230, 225, 225);
    height: 100%;
    padding: 10px;
}

.card-deal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    margin-left:10%;
    margin-right: 10%;
    margin-bottom: 10px;
    border-radius: 5px;
}