#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas: "header" "sectionproduct" "footer";
}

.container header {
  display: flex;
  flex-direction:column;
  grid-area: header;
  height: 100%;
  width: 100%;
}

header nav {
  background-color: var(--main-navbar-color);
  height: 60%;
  width: 100%;
}

.breadcrumbs {
  background-color: var(--second-navbar-color);
  height: 40%;
  width: 100%;
}

.container .section-product {
  grid-area: sectionproduct;
  border: 5px solid green;
  height: 100%;
  width: 100%;
}

.container footer {
  grid-area: footer;
  border: 5px solid yellow;
  height: 100%;
  width: 100%;
}