#root {
  font-family: Averta CY, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif!important;
  font-size: 16px!important;
  line-height: 1!important;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas: "header" "sectionproduct" "footer";
}

.container header {
  display: flex;
  flex-direction: column;
  grid-area: header;
  height: 100%;
  width: 100%;
}

.container .section-product {
  grid-area: sectionproduct;
  border: 5px solid green;
  height: 100%;
  width: 100%;
}

.container footer {
  grid-area: footer;
  border: 5px solid yellow;
  height: 100%;
  width: 100%;
}